* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.none {
    display: none;
}

.block {
    display: block;
}


h1 {
   display: block;
   text-align: center;
   padding-top: 5vh;
}

.infos {
    position: absolute;
    top: 5vh;
    right: 5vw;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#overlay {
    width: 40vw;
    height: 40vh;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: .8;
    position: absolute;
    top: 50vh;
    left: 50vw;
    z-index: 10;
    color: #ffffff;
    display: none;
}

#overlay h2 {
    display: block;
    text-align: center;
    padding: 20px;
}

#overlay p {
    padding: 50px;
}

.quit {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
}

.quit img {
    width: 100%;
    height: 100%;
}



.mainContainer {
    width: 100vw;
    height: 100vh;
    background: lightblue;
}

.game {
    z-index: 1;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    z-index: 12;
    cursor: pointer;
}

.buttons {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    cursor: pointer;
    width: 40%;
    height: 40%;
    position: absolute;
}

.button p {
    display: block;
    text-align: center;
}

.green {
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

.red {
    right: 0;
    top: 0;
    transition: all 0.5s ease;
}

.blue {
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.yellow {
    bottom: 0;
    right: 0;
    transition: all 0.5s ease;
}

.scoring {
    position: absolute;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    bottom: 50px;
}

.scoreTouche {
    height: 100%;
    text-align: center;
    width: 180px;

}

.scoreTour {
    height: 100%;
    text-align: center;
    width: 180px;
}

#turn {
    display: none;
}

.soundDO, .soundRE, .soundMI, .soundFA {
    opacity: 0;
}




